In [4]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('churn_raw_data.csv')

In [8]:
df.head()

,Unnamed: 0,CaseOrder,Customer_id,Interaction,City,State,County,Zip,Lat,Lng,...,MonthlyCharge,Bandwidth_GB_Year,item1,item2,item3,item4,item5,item6,item7,item8
0,1,1,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,Point Baker,AK,Prince of Wales-Hyder,99927,56.25100,-133.37571,...,171.449762,904.536110,5,5,5,3,4,4,3,4
1,2,2,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,West Branch,MI,Ogemaw,48661,44.32893,-84.24080,...,242.948015,800.982766,3,4,3,3,4,3,4,4
2,3,3,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,Yamhill,OR,Yamhill,97148,45.35589,-123.24657,...,159.440398,2054.706961,4,4,2,4,4,3,3,3
3,4,4,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,Del Mar,CA,San Diego,92014,32.96687,-117.24798,...,120.249493,2164.579412,4,4,4,2,5,4,3,3
4,5,5,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,Needville,TX,Fort Bend,77461,29.38012,-95.80673,...,150.761216,271.493436,4,4,4,3,4,4,4,5

In [9]:
#Part I: Research Question 
# A. The churn rate will help me determine which customer are likely to churn next month.
# B. The data set inlcudes 10,000 observations and 50 variables. There are data with numerical values, and character values. Data like 'City', 'State', 'County', are character values that describe the location of the customer. Data like 'Age', 'Income', and 'MonthlyCharge' are numerical data. We also have data that are boolean such as, 'Churn','Techie', and 'Tablet'.

In [ ]:
# Part II: Data-Cleaning Plan
# C.  Explain the plan for cleaning the data by doing the following:
    # 1) To identify anomalies in the dataset we will use the standard deviation method to help find outliers. We will know that any data that falls outside of 3 standard deviation of the mean that the data is most likely an anomaly. In order to perform this method in python, the numpy package and matplotlib is used to perform the std and create the visualization. Another method to identify anomalies is to create a boxplot. This boxplot will have graphical visualization to view the anomaly. We will use the seaborn package and matplotlib to perform this method. Any data that falls outside of the whiskers will be considered an anomaly. We can find categorical outliers by finding a category that is less than 10% of the population then we can consider that being an outlier. 
    # 2)
    # 3) I will be using the Python language to clean my data set and use the pandas and numpy package perform tasks such as dropping columns, cleaning empty cells, and sorting data.
    # 4)